/* EECS1012: Fall 2018
   MSB
	 Exercise 1: CSS
*/
#container {
	border: 5px green solid;
}

.date {
	border: 5px purple solid;
}

.entry {
	border: 5px blue solid;
}

#header {
	border: 5px red solid;
}

#header h2 {
	border: 5px orange solid;
}

p {
	border: 1px black solid;
}

#footer {
	border: 5px orange solid;
}
