/*  EECS1012 - Lab 2, ex2 - CSS
*/

/* V2: background added this exercise */
body {
	background-image: url("images/background.gif");
	margin-left: 10%;
	margin-right: 10%;
}

#container {
	/* v2: added this exercise */
	background-color: white;
	border: 5px green solid;
}

.date {
	border: 5px purple solid;
}

.entry {
	border: 5px blue solid;
	/* V2: added this exercise */
	padding: 5px;
	background-color: rgb(196, 226, 255);
	margin-top: 10px;
}

#header {
	border: 5px red solid;
}

#header h2 {
	border: 5px orange solid;
}
