/* Please also see the HTML and Lab - it shows where these are used */
/* div to wrap the inputs */
#main {
  width: 250px; /* set the width */
  margin: auto; /* setting to auto centers this div */
  margin-top: 20px; /* add a border at the top */
  border: 1px black solid; /* add a black border */
}
/* all paragraphs inside main have margin of only 2px */
#main p { margin: 2px;}
/* align the img */
img {
  text-align: center;
}

/* Top login paragraph */
#top { text-align: right; }  /* aligns the text in the paragraph */
#login { background-color: black;  /* used in a span */
         color: white;
         font-size: 10pt;
         font-family: monospace;
         padding: 5px;
       }

/* Note that they have to set the width of the input */
input[type="text"], input[type="email"],  input[type="password"]
{
  width: 240px;
}

/* Submit button has a different look */
input[type="submit"]
{
  background-color: black;
  color: white;
  width: 240px;
  padding: 5px;
}
